
.probs input {
  width: 20px;
  margin: 0 10px 0 10px;
  height: 20px;
}

.notes input {
  width: 40px;
  height: 20px;
  float: left;
}

.controls {
  float: left;
}

input.nexts {
  width: 60px;
  height: 20px;
  margin-left: 3px;
}

input {
  border: 1px solid black;
}

.cf {
  clear: both;
}